* {
  padding: 0;
	margin: 0;
}

a {
    color:red !important;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

body * {
    font-size: 12px;
    line-height: 16px;
    font-family: "Courier New";
    color: #DBA118;
}

#overlay {
    position: absolute;
    top: 60px;
    left: 70px;
    pointer-events: none;
    z-index: 100;
}
#overlay > div {
    background: rgb(31, 29, 30); /* The Fallback */
    background: rgba(31, 29, 30, 0.5);
    /*padding: 0 27px 0 22px;*/
    padding: 0 21px;
    pointer-events: auto;
}
#card {
    float: left;
    width: 180px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.category {
  -moz-box-shadow:0 1px 0 0 #BF8B11;
  -ms-box-shadow:0 1px 0 0 #BF8B11;
	-webkit-box-shadow:0 1px 0 0 #BF8B11;
  box-shadow:0 1 0 0 #BF8B11;
	background-color:transparent;
  width:120px;
	-moz-border-radius:6px;
  -ms-border-radius:6px;
	-webkit-border-radius:6px;
  border-radius:6px;
	border:1px solid #DBA118;
  margin-bottom: 3px;
  margin-top: 3px;
	display:inline-block;
	padding:4px 4px;
	text-decoration:none;
}
.category:hover {
	position:relative;
	top:1px;
  -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  -webkit-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  border:1px solid #E3DD29;
}
.category:hover > h2 {
  color:#E3DD29;
}

.category.selected {
  position:relative;
	top:1px;
  -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  -webkit-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
  box-shadow:inset 0 0 0 0 #B0AB0E;
  border:1px solid #E3DD29;
}
.category.selected > h2 {
    color:#E3DD29;
}

h1, h2, p  {
    display: inline-block;
}
h2 {
    font-weight: normal;
}
dt {
    font-style: italic;
    text-align: right;
}


.connector {
  position:absolute;
  background:#E3DD29 !important;
  width:0 !important;
  height:1px;
  left:140px;
  padding: 0 0 !important;
}
.connector.tog1.selected {
  top: 128px;
  -moz-animation:move 1s linear forwards;
  -ms-animation:move 1s linear forwards;
  -webkit-animation:move 1s linear forwards;
}
.connector.tog2.selected {
  top: 160px;
  -moz-animation:move 1s linear forwards;
  -ms-animation:move 1s linear forwards;
  -webkit-animation:move 1s linear forwards;
}
.connector.tog3.selected {
  top: 192px;
  -moz-animation:move 1s linear forwards;
  -ms-animation:move 1s linear forwards;
  -webkit-animation:move 1s linear forwards;
}
.connector.tog4.selected {
  top: 224px;
  -moz-animation:move 1s linear forwards;
  -ms-animation:move 1s linear forwards;
  -webkit-animation:move 1s linear forwards;
}

.infopane {
  display:none;
  float: left;
  margin: 0 68px;
  width: 0;
  padding: 0 0 !important;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.infopane.tog1.selected {
  display:block;
  height: 300px;
  -moz-animation:move2 1s 1s linear forwards;
  -ms-animation:move2 1s 1s linear forwards;
  -webkit-animation:move2 1s 1s linear forwards;
}
.infopane.tog2.selected {
  display:block;
  height: 300px;
  -moz-animation:move2 1s 1s linear forwards;
  -ms-animation:move2 1s 1s linear forwards;
  -webkit-animation:move2 1s 1s linear forwards;
}
.infopane.tog3.selected {
  display:block;
  height: 300px;
  -moz-animation:move2 1s 1s linear forwards;
  -ms-animation:move2 1s 1s linear forwards;
  -webkit-animation:move2 1s 1s linear forwards;
}
.infopane.tog4.selected {
  display:block;
  height: 300px;
  -moz-animation:move2 1s infinite linear forwards;
  -ms-animation:move2 1s infinite linear forwards;
  -webkit-animation:move2 1s infinite linear forwards;
}

.content {
  padding: 0 21px;
  opacity: 0;
}
.content.selected {
  -webkit-animation:appear 1s 2s;
  -moz-animation:appear 1s 2s;
  -ms-animation:appear 1s 2s;
}

@-moz-keyframes move {
	0%   { width:0;}
	100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}
@-webkit-keyframes move {
	0%   { width:0;}
  100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}
@-ms-keyframes move {
  0%   { width:0;}
  100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}

@-moz-keyframes move2 {
  0%   {width:0;}
	100% {width:360px;}
}
@-webkit-keyframes move2 {
   0%   {width:0;}
  100% {width:360px;}
}
@-ms-keyframes move2 {
  0%   { width:0;}
  100% { width:360px; }
}

@-webkit-keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes appear {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes appear {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}