html, body {
    position: absolute;
    background: #000092; /* Use middle color of colorgrad */
    width:  100%;
    height: 100%;
    margin: 0 0 0 0;
}
body * {
    font-size: 12px;
    line-height: 14px;
    font-family: "Courier New";
    color: #DBA118;
}
/**** GENERIC OVERLAY PROPS ***********************************/
#overlay {
    position: absolute;
    pointer-events: none;
    width:  100%;
    height: 100%;
    z-index: 100;
}
#overlay > div {
    /* OLD COLOR:rbg(31, 29, 30) */
    background: rgb(20, 20, 50); /* The Fallback */
    background: rgba(20, 20, 50, 0.7);
    pointer-events: auto;
}
a {
    color:red !important;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
h2 {
    font-weight: normal;
}
dd {
    margin: 0 0 0 0;
    font-style: italic;
}
/**** CALLING CARD ***********************************/
#card {
    padding: 0 20px;
    margin: 40px 0 0 40px;
    float: left;
    width: 180px;
    height: 520px;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
/**** CATEGORY BUTTONS ***********************************/
.category {
    -ms-box-shadow:0 1px 0 0 #BF8B11;
    -webkit-box-shadow:0 1px 0 0 #BF8B11;
    -moz-box-shadow:0 1px 0 0 #BF8B11;
    box-shadow:0 1px 0 0 #BF8B11;
    background-color:transparent;
    width:120px;
    -ms-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid #DBA118;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 6px 0;
    text-decoration:none;
}
.category:hover {
    -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -webkit-box-shadow:0 0 10px 2px rgba(176, 171, 14,0.5);
    box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    border:1px solid #E3DD29;
}
.category:hover > h2 {
    color:#E3DD29;
}
.category.selected {
    -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -webkit-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    border:1px solid #E3DD29;
}
.category.selected > h2 {
    color:#E3DD29;
}

/**** MODE BUTTONS *********************************/

.mode {
    float:left !important;
    -ms-box-shadow:0 1px 0 0 #BF8B11;
    -webkit-box-shadow:0 1px 0 0 #BF8B11;
    -moz-box-shadow:0 1px 0 0 #BF8B11;
    box-shadow:0 1px 0 0 #BF8B11;
    background-color:transparent;
    width:50px;
    -ms-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid #DBA118;
    margin: 0px 3px 3px 0px;
    padding: 3px 0;
    text-decoration:none;
}
.mode:hover {
    -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -webkit-box-shadow:0 0 10px 2px rgba(176, 171, 14,0.5);
    box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    border:1px solid #E3DD29;
}
.mode:hover > h2 {
    color:#E3DD29;
}
.mode.selectedII {
    -ms-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -moz-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    -webkit-box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5);
    border:1px solid #E3DD29;
}
.mode.selectedII > h2 {
    color:#E3DD29;
}
/**** MODE MESSAGE *********************************/
.modeinfo {
    display: none;
}
.modeinfo.selectedII {
    display: inline-block;
}
/**** CONNECTORS ***********************************/
.connector {
    float: left;
    padding: 3px 0 3px 0;
    background:#E3DD29 !important;
    width:0 !important;
    height:1px;
    padding: 0 0 !important;
}
.connector.tog1.selected {
    margin: 171px 0 0 -80px;
    -moz-animation:move 1s linear forwards;
    -ms-animation:move 1s linear forwards;
    -webkit-animation:move 1s linear forwards;
}
.connector.tog2.selected {
    margin: 206px 0 0 -80px;
    -moz-animation:move 1s linear forwards;
    -ms-animation:move 1s linear forwards;
    -webkit-animation:move 1s linear forwards;
}
.connector.tog3.selected {
    margin: 240px 0 0 -80px;
    -moz-animation:move 1s linear forwards;
    -ms-animation:move 1s linear forwards;
    -webkit-animation:move 1s linear forwards;
}
.connector.tog4.selected {
    margin: 274px 0 0 -80px;
    -moz-animation:move 1s linear forwards;
    -ms-animation:move 1s linear forwards;
    -webkit-animation:move 1s linear forwards;
}
/**** INFORMATION PANELS ***********************************/

.infopane {
    display:none;
    float: left;
    margin: 40px 0 0 0;
    width: 0;
    min-height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 !important;
    -ms-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.infopane.selected {
    display:inline-block;
    -moz-animation:move2 1s 1s linear forwards;
    -ms-animation:move2 1s 1s linear forwards;
    -webkit-animation:move2 1s 1s linear forwards;
}

/**** CONTENT ***********************************/
.content {
    opacity: 0;
    padding: 10px 21px;
}
.content.selected {
    min-hieght: 440px;

    -webkit-animation: appear 1s 2s normal both;
    -moz-animation:appear 1s 2s normal both;
    -ms-animation: appear 1s 2s normal both;
    animation-delay: appear 1s 2s normal both;
}

/**** CANVAS ***************************************/
#canvas {
  position: absolute;
  background: #000092;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

/**** ANIMATIONS ***********************************/
@-moz-keyframes move {
    0%   { width:0;}
    100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}
@-webkit-keyframes move {
    0%   { width:0;}
    100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}
@-ms-keyframes move {
    0%   { width:0;}
    100% { width:150px; box-shadow:0 0 5px 1px rgba(176, 171, 14,0.5); }
}

@-moz-keyframes move2 {
    0%   {width:0;}
    100% {width:60%;}
}
@-webkit-keyframes move2 {
    0%   {width:0;}
    100% {width:60%;}
}
@-ms-keyframes move2 {
    0%   { width:0;}
    100% { width:60%; }
}

@-webkit-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes appear {
    0%  { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes appear {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}